h1 {
    color: #f1ecec;
}

.left {
    float: left;
    background-color: #484444;
    width: 31%;
    height: 30cm;
    padding-left: 20px;
}

.right {
    float: right;
    padding-right: 10px;
    width: 60%;
    background-color: #ffffff;
    padding-left: 10px;
}

span {
    color: #0ce82d;
}

img {
    padding-top: 10px;
    padding-bottom: -5px;
    border-radius: 50rem;
}

.left h1 {
    padding-left: 10px;
}

ol li {
    color: #ffffff;
    font-size: 20px;
    line-height: 1cm;
}

ul li {
    color: #ffffff;
    font-size: 20px;
    line-height: 1cm;
}

p {
    font-size: 20px;
    font-style: italic;
    line-height: 0.8cm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.AcademicAchievement li {
    color: #040404;
    font-size: 20px;
    font-style: italic;
    line-height: 1cm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.right hr {
    color: #040404;
    line-height: 2cm;
    width: 110%;
    border-width: 0.2cm;
}

.right h1 {
    color: #484444;
}

table td {
    color: #040404;
    font-size: 20px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.apps {
    background-color: #484444;
    border-radius: 15px;
    border-style: solid;
    border-color: #0ce82d;
}

.apps h2 {
    color: #ffffff;
}

.apps td {
    color: #ffffff;

}

.container {
    display: flex;

}